#pip package names required by the package
boto3 # Apache 2
lxml # BSD
numpy # BSD
openslide-python # LGPL
opencv-python # MIT
Pillow # PIL License
plac==1.0.0 # BSD
scipy # BSD
torch # BSD
tensorflow # Apache 2
keras # MIT
mlflow # Apache
brontes # MIT
